/* import font */
@font-face {
    font-family: Gilroy-Bold;
    src: url('../fonts/Gilroy-Extrabold.otf');
}
@font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.otf');
}
:root
{

    --primary : #76B4EA;     
    --secondary : #044271;
    --oranye : #F07642;
    --mygrey : #044271;
    /* --mygrey : #54576D; */
}

.container-fluid{
    overflow-x: hidden;
}

.darken-p{color:var(--primary) ;}
.darken-s{color:var(--secondary) ;}
.red-required{color:red ;}
.btn-rounded{
    padding: 15px 41px;
    font-size: 16px;
    color: #fff;
    border-radius: 46px;
    background-color: var(--oranye);
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 700;
    border:0px;
}

.learn-more a{
    font-size:20px;
    color:var(--oranye);
    text-decoration: none;
    font-family: 'Poppins';
    font-weight:600;
}

.title-section{
    text-align:center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size:33px;     
    color: var(--secondary);}
    .title-section .line-title{
        width:50px;
        height:5px;
        border-radius:10px;
        background-color:var(--secondary);
    }

/* basic navbar */
#myNavbar{
    padding: 20px;
    padding-left: 7%;
    padding-right: 10%;
    padding-top: 52px;    
}

#myNavbar{
    font-family: 'Poppins';
    font-weight: 400;}
    #myNavbar .navbar-toggle{
        color: rgb(73, 73, 73);
    }
    #myNavbar .navbar-brand{
        margin-right: 6rem;
    }

    #myNavbar .navbar-brand img{
        width:60px;
    }
    #myNavbar .active{
        font-weight:700;
    }
    #myNavbar .nav-link{
        text-decoration: none;
        font-size: 14px;
        margin-right: 27px;
        color:var(--secondary);
        font-family: 'Poppins';    
        font-weight: 400;    
    }
    #myNavbar .active{
        font-family: 'Poppins';    
        font-weight: 700;            
    }
    #myNavbar .nav-link:hover{
        font-family: 'Poppins';    
        font-weight: 700;            
    }
    /* end of navbar */
    #extendNavbar{
        font-family: 'Poppins';
        font-weight: 400;
        background-color: white;
        padding: 20px;
        padding-left: 7%;
        padding-right: 10%;
        padding-top: 20px;
        transition-duration:0.5s;
        visibility:hidden;}
        #extendNavbar .navbar-toggle{
            color: rgb(73, 73, 73);
        }
        #extendNavbar .navbar-brand{
            margin-right: 6rem;
        }
        #extendNavbar .navbar-brand img{
            width:60px;
        }
        #extendNavbar .active{
            font-weight:700;
        }
        #extendNavbar .nav-link{
            text-decoration: none;
            font-size: 14px;
            margin-right: 27px;
            color:var(--secondary);
            font-family: 'Poppins';    
            font-weight: 400;    
        }
        #extendNavbar .active{
            font-family: 'Poppins';    
            font-weight: 700;            
        }

        #extendNavbar .nav-link:hover{
            font-family: 'Poppins';    
            font-weight: 700;            
        }
        
        /* end of navbar */
    