/* import font */
@font-face {
    font-family: Gilroy-Bold;
    src: url('../fonts/Gilroy-Extrabold.otf');
}
@font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.otf');
}
:root
{

    --primary : #76B4EA;     
    --secondary : #044271;
}

    /* head cover */
    #head-cover{
        min-height:100vh;        
    }

    #head-cover .head-swiper .head-swiper-slide{ 
        min-height:100vh;
    }

    #head-cover .head-swiper .head-swiper-slide .backdrop{ 
        min-height:100vh;
        padding:0.1px;
        padding-left:10%;
        padding-right:10%;
        width:100%;
        background-color:rgba(255,255,255,0.5);
    }

    #head-cover .head-swiper .head-swiper-slide h3{
        font-size: 46px;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--secondary);
        margin-top: 19%;
        width: 86%;
    }

    /* #about us section */
    #about-us{
        min-height:94vh;   
        padding-top:7%;     
        background-color: #ffff;
    }

    #about-us .cover{
        padding:0px;
        min-height:69vh;
        background:url('../images/back1.jfif');
        background-size:cover;        
    }
 
    #about-us .cover .backdrop-about{
        min-height:69vh;
        width:100%;
        margin:0px;
        background-image:linear-gradient(to left, rgba(255, 255, 255, 1) , rgba(255, 255, 255, 0));          
    }

    #about-us .desc {
        padding-left:5%;
        padding-right:5%;
    }
    #about-us .desc h3{
        width: 95%;
        font-size: 64px;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--secondary);
    }

    #about-us .desc p{
        width: 95%;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        color: #767676;
    }

    #about-us .badge-desc{
        text-align: center;
        background-color: var(--secondary);
        font-family: 'Poppins';
        font-weight: 700;
        color: #ffff;
        border-radius:10px;        
        width: 170px;
        padding: 10px 20px;
        margin-bottom: 35px;
    } 


    /*our partner*/
    #our-partner{
        min-height:50vh;        
        padding: 10%       
    } 

    #our-partner .partner-slide{
        margin-top:8%;
        overflow-x:hidden;
    }

    #our-partner .partner-slide img{
        width:184px;
    }

    /*section our product*/
    #our-product{
        min-height:50vh;        
        padding:12% 8%;  
        background-color: #f9f9f9;
    }
    #our-product .product-group{
        margin-top:2%;
    }

    #our-product .card-produk{
        width:100%;        
        min-height:150px;
        background-color:#fff;
        padding:0px;
        padding-bottom:41px;
        box-shadow: 0px 0px 9px #888888;
    }

    
    #our-product .card-produk .thumbnail{
        height:150px;
    }

    #our-product .card-produk .logo-product{
        width:80%;
        margin-top:-29px;
        padding:10px;
        text-align:center;
        background-color:#fff;
        border-radius:10px;
    }
    #our-product .card-produk .logo-product img{
        width:85%;
    }

    #our-product .card-produk .desc-product{
        font-size: 12px;
        font-family: 'Poppins';
        font-weight: 400;
        color: #404040;         
        text-align: center;
        margin-top: 5px;
        padding:0px 20px;
    }

    #our-product  a{
        text-decoration:none;
    }

    /*sectioon vision*/
    #vision{
        padding:5% 10%;
    }

    #vision h4{
        font-size: 32px;
        font-family: 'Poppins';
        font-weight: 700;                    
        margin-top: 10px;
        color: var(--secondary);
    }
