/* import font */
@font-face {
    font-family: Gilroy-Bold;
    src: url('../fonts/Gilroy-Extrabold.otf');
}
@font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.otf');
}
:root
{

    --primary : #76B4EA;     
    --secondary : #044271;
}

    /* head cover */
    #head-cover{
        min-height:100vh;        
    }

    #head-cover .head-swiper .head-swiper-slide{ 
        min-height:100vh;
    }

    #head-cover .head-swiper .head-swiper-slide .backdrop{ 
        min-height:100vh;
        padding:0.1px;
        padding-left:10%;
        padding-right:10%;
        width:100%;
        background-color:rgba(255,255,255,0.5);
    }

    #head-cover .head-swiper .head-swiper-slide h3{
        font-size: 46px;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--secondary);
        margin-top: 19%;
        width: 86%;
    }

    /* #about us section */
    #about-us{
        min-height:94vh;   
        padding-top:0px;     
        background-color: #ffff;
    }

    #about-us .cover{
        padding:0px;
        min-height:69vh;
        background:url('../images/back1.jfif');
        background-size:cover;        
    }
 
    #about-us .cover .backdrop-about{
        min-height:69vh;
        width:100%;
        margin:0px;
        background-image:linear-gradient(to left, rgba(255, 255, 255, 1) , rgba(255, 255, 255, 0));          
    }

    #about-us .desc {
        padding-left:5%;
        padding-right:5%;
    }
    #about-us .desc h3{
        width: 95%;
        font-size: 64px;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--secondary);
    }

    #about-us .desc p{
        width: 95%;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        color: #767676;
    }

    #about-us .badge-desc{
        text-align: center;
        background-color: var(--secondary);
        font-family: 'Poppins';
        font-weight: 700;
        color: #ffff;
        border-radius:10px;        
        width: 170px;
        padding: 10px 20px;
        margin-bottom: 35px;
    } 


    /*our partner*/
    #our-partner{
        min-height:50vh;        
        padding: 5% 10%       
    } 

    #our-partner .partner-slide{
        margin-top:8%;
        overflow-x:hidden;
    }

    #our-partner .partner-slide img{
        width:184px;
    }

    /*section our product*/
    #our-product{
        min-height:50vh;        
        padding:6% 8%;  
        background-color: #ffff;
    }
    #our-product .product-group{
        margin-top:2%;
    }

    #our-product .card-produk{
        width:100%;        
        min-height:150px;
        background-color:#fff;
        padding:0px;
        padding-bottom:41px;
        box-shadow: 0px 0px 9px #888888;
        cursor: pointer;
    }

    
    #our-product .card-produk .thumbnail{
        height:150px;
    }

    #our-product .card-produk .logo-product{
        width:80%;
        margin-top:-29px;
        padding:10px;
        text-align:center;
        background-color:#fff;
        border-radius:10px;
    }
    #our-product .card-produk .logo-product img{
        width:85%;
    }

    #our-product .card-produk .desc-product{
        font-size: 12px;
        font-family: 'Poppins';
        font-weight: 400;
        color: #404040;         
        text-align: center;
        margin-top: 5px;
        padding:0px 20px;
    }

    #our-product  a{
        text-decoration:none;
    }

    /*sectioon vision*/
    #vision{
        padding:0% 10%;
    }

    #vision h4{
        font-size: 32px;
        font-family: 'Poppins';
        font-weight: 700;                    
        margin-top: 10px;
        color: var(--secondary);
    }

    /*section berita*/
    #berita{
        padding:5% 10%;   
    }

    #berita .row-berita{
        margin-bottom:4%;
    }

    #berita .row-berita h5{
        font-family: 'Poppins';
        font-size:15px;
        font-weight:700;
        color: var(--secondary);
        margin:0px;
        margin-top:10px;
    }

    #berita .row-berita .time{
        font-family: 'Poppins';
        font-size:10px;
        font-weight:400;
        color: #545454;
        margin-top:4px;
    }

    #berita .row-berita .highlight{
        font-family: 'Poppins';
        font-size:14px;
        font-weight:400;
        color: #545454;
        margin-top:4px;
    }

    #berita .row-berita .thumbnail-berita{
        width:100%;
        min-height:200px;
        border-radius:10px;
    }

    #berita .row-berita .berita-selengkapnya{
        text-decoration:none;
        font-family: 'Poppins';
        font-size:10px;
        color: #fff;
        font-weight:400;
        background-color:var(--secondary);
        padding:5px 20px;
        border-radius:2px;
    }

    /*section separator*/
    #separator{    
        width: 100%;
        height: 100px;
        /* background-color: red; */
        background-image: linear-gradient(to top, rgba(255, 255, 255, 1) , rgba(255, 255, 255, 0));
        position: relative;
        top: -99px;
        z-index: 100;
     }

     /*section footer*/
     #footer{
        min-height:30vh;
        background-color: var(--secondary);
        padding:5% 10%;
     }

     #footer .address{
        width:260px;
        color:white;        
        font-family:'Poppins';
        font-weight:400;
        font-size:14px;          
     }

    #footer .notel{        
        color:white;
        font-size:'Poppins';
        font-weight:400;
        font-size:14px;
        margin-top:20px;  
     }

     #footer .sosial-media .btn-sosmed{        
        display: inline-block;
        padding: 3px;
        width: 30px;
        height: 30px;
        margin: 5px;
        text-align: center;
        background-color: white;
        color: var(--secondary);
        border-radius: 100%;
        font-size: 14px;
        text-decoration: none;
        cursor:pointer;
     }

    #footer .hire-us{
        margin-top:31px;
    }
     #footer .hire-us a{
        text-decoration:none;
        font-family: 'Poppins';
        color:rgba(255,255,255,0.7);
        font-weight: 400;
        margin-right:10px;
        font-size:12px;
     }

     #footer .line-footer{
        width:100%;
        height:1px;
        background-color:rgb(255,255,255);
     }
     #footer .hak-cipta{
        margin-top:10px;
        text-decoration:none;
        font-family: 'Poppins';
        color:rgb(255,255,255);
        font-weight: 400;
        margin-left:-9px;
        font-size:12px;  
     }

    
    /*head-contact*/
    #head-contact{
        min-height:70vh;
        background-image: url('../images/back1.jfif');
        background-size:cover;        
    }

    #head-contact .head-swiper .head-swiper-slide{ 
        height:100vh;
    }

    #head-contact .backdrop{ 
        min-height:70vh;
        padding-left:10%;        
        width:100%;
        background-color:rgba(255,255,255,0.7);
    }

    #head-contact h3{
        margin-top:36%;
        text-decoration:none;
        font-family: 'Poppins';
        color:var(--secondary);
        font-weight: 700;        
        font-size:42px;    
    }

    #head-contact p{
        width:70%;
    }

    #form-contact{
        padding:50px 10%;
    } 

    #form-contact .box-contact h3{
        font-family: 'Poppins';
        color:var(--secondary);
        font-weight: 700;        
        font-size:42px;
        margin-bottom:0px;
    }

    #form-contact .map h3{
        font-family: 'Poppins';
        color:var(--secondary);
        font-weight: 700;        
        font-size:42px;
    }
    #form-contact .map p{
        font-family: 'Poppins';
        color:#5a5a5a;
        font-weight: 400;        
        font-size:13px;   
        margin-bottom:4px;
    }

    #form-contact .map a{
        font-family: 'Poppins';
        color:var(--secondary);
        font-weight: 400;        
        font-size:13px;
        text-decoration:none;        
    }

    #form-contact .map iframe{
        width:70%;
        height:200px;
    }

    #form-contact .box-contact{
        margin-top: -56%;
        padding: 35px 60px;
        background-color: rgb(255,255,255);
    }

    #form-contact .box-contact .bt-kirim{
        padding:10px 20px;
        width:100%;
        background-color:var(--secondary);
        text-align: center;
        font-family: 'Poppins';
        color:white;
        font-weight: 400;        
        font-size:13px;
        text-decoration:none;
        border:0px;
        border-radius:10; 
    }

    #form-contact .mapouter{
        position:relative;
        height:300px;
        width:600px;
    }                      
    #form-contact .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:200px;
        width:600px;
    }

    /* detail area */
    #detail-area{
        min-height:90vh;
        background-color:#fff;
        padding:2% 10% 10% 10%;
    }
    #detail-area .desc-aplikasi{
        margin-top:6%;
        padding:20px;
    }
    #detail-area .thumb-detail{
        width:100%;
        min-height:64vh;
        border-radius:10px;
    }

    #detail-area h3{
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 34px;
        margin-top:35px;
    }

    #detail-area p{
        font-family: 'Poppins';
        font-weight: 500;
        color:#757575;
        font-size:12px;
        text-align:justify;
    }

    #detail-area .other-apps{
        margin-top:10%;
    }

    #detail-area .other-apps h4{
        font-family:'Poppins';
        font-size:18px;
        font-weight:700;
        color: #222121;
    }

    #detail-area .card-other-apps{
        width:100%;  
        cursor:pointer;      
    }

    #detail-area .card-other-apps .thumb-other{
        width:100%;
        height:150px;
        border-radius:10px;
    }

    #detail-area .card-other-apps .thumb-other p{
        font-family:'Poppins';
        font-size:13px;
        font-weight:700;
    }
